@model WebApp.Models.Data.MessageModel

@using WebApp.Helper

<div class="transparent-header" id="transparent-header">
  <partial name="_header"/>
</div>

<div class="header">
  <div class="rotated-background contact">
    <div class="realign">
      <div class="wrapper">
        <div class="grid grid-1-1">
          <div>
            <img src="~/images/contact_project.svg">
          </div>
          <div class="flex flex-col">
            <div class="quote center">
              @Utils.GetUiString("contact.projectRequestDescription")
            </div>
            <div class="center">
              <button class="btn btn-light">@Utils.GetUiString("contact.projectRequest")</button>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>

<div class="wrapper offset-top-m">
  <h1>
    <span>@Utils.GetUiString("headline.contactMe")</span>
  </h1>

  <div class="grid grid-1-1 offset-top-m offset-bottom-l">
    <div>
      <form class="contact-form" asp-controller="Contact" asp-action="Index" method="post">
        <div class="grid grid-1-1">
          <div class="relative">
            <input asp-for="@Model.FirstName" placeholder='@Utils.GetUiString("input.firstName")'>
            <span id="FirstName-validation-info" class="validation-info"></span>
          </div>
          <div class="relative">
            <input asp-for="@Model.LastName" placeholder='@Utils.GetUiString("input.lastName")'>
            <span id="LastName-validation-info" class="validation-info"></span>
          </div>
        </div>
        <div class="relative">
          <input asp-for="@Model.Email" placeholder='@Utils.GetUiString("input.email")'>
          <span id="Email-validation-info" class="validation-info"></span>
        </div>
        <div class="relative">
          <input asp-for="@Model.Subject" placeholder='@Utils.GetUiString("input.subject")'>
          <span id="Subject-validation-info" class="validation-info"></span>
        </div>
        <div class="relative">
          <textarea asp-for="@Model.Message" placeholder='@Utils.GetUiString("input.message")'></textarea>
          <span id="Message-validation-info" class="validation-info"></span>
        </div>
        <div class="offset-bottom-s">
          <input asp-for="@Model.Privacy">
          <label for="Privacy">@Utils.GetUiString("input.confirmPrivacy")</label>
        </div>
        <button type="button" class="btn btn-primary" id="submit">
          @Utils.GetUiString("input.submit") 
        </button>
        <button type="reset" class="btn" style="float: right" id="reset">
          @Utils.GetUiString("input.reset")
        </button>
      </form>
    </div>
    <div class="sendmail-logo">
      <img src="~/images/contact_sendmail.svg">
    </div>
  </div>
</div>

<script src="~/js/formValidation.js"></script>