@model WebApp.Models.Data.MessageModel

@using WebApp.Helper

<div class="transparent-header" id="transparent-header">
  <partial name="_header"/>
</div>

<div class="header">
  <div class="rotated-background contact">
    <div class="realign">
      <div class="wrapper">
        <div class="grid grid-1-1">
          <div>
            <img src="~/images/contact_project.svg">
          </div>
          <div class="flex flex-col">
            <div class="quote center">
              @Utils.GetUiString("contact.projectRequestDescription")
            </div>
            <div class="center">
              <button class="btn btn-light">@Utils.GetUiString("contact.projectRequest")</button>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>

<div class="wrapper offset-top-m">
  <h1>
    <span>@Utils.GetUiString("headline.contactMe")</span>
  </h1>

  <div class="grid grid-1-1 offset-top-m offset-bottom-l">
    <div>
      <form class="contact-form" asp-controller="Contact" asp-action="Index" method="post">
        <div class="relative">
          <label asp-for="@Model.Name" class="no-check" id="Name-label">@Utils.GetUiString("input.name")</label>
          <input asp-for="@Model.Name">
          <span id="Name-validation-info" class="validation-info">
            <span class="validation-info-text">Test</span>
          </span>
        </div>
        <div class="relative">
          <label asp-for="@Model.Email" class="no-check" id="Email-label">@Utils.GetUiString("input.email")</label>
          <input asp-for="@Model.Email">
          <span id="Email-validation-info" class="validation-info">
            <span class="validation-info-text">Bitte geben Sie eine g체ltige E-Mail Adresse an!</span>
          </span>
        </div>
        <div class="relative">
          <label asp-for="@Model.Subject" class="no-check" id="Subject-label">@Utils.GetUiString("input.subject")</label>
          <input asp-for="@Model.Subject">
          <span id="Subject-validation-info" class="validation-info">
            <span class="validation-info-text">Bitte nehemen Sie sich etwas Zeit f체r einen aussagekr채ftigeren Betreff! </span>
          </span>
        </div>
        <div class="relative">
          <label asp-for="@Model.Message" class="no-check" id="Message-label">@Utils.GetUiString("input.message")</label>
          <textarea asp-for="@Model.Message"></textarea>
          <span id="Message-validation-info" class="validation-info">
            <span class="validation-info-text">Bitte teilen Sie mir Ihr Anliegen etwas ausf체hrlicher mit!</span>
          </span>
        </div>
        <div class="offset-bottom-s">
          <input asp-for="@Model.Privacy">
          <label for="Privacy">@Utils.GetUiString("input.confirmPrivacy")</label>
        </div>
        <button type="button" class="btn btn-primary" id="submit">
          @Utils.GetUiString("input.submit") 
        </button>
        <button type="reset" class="btn" style="float: right" id="reset">
          @Utils.GetUiString("input.reset")
        </button>
      </form>
    </div>
    <div class="sendmail-logo">
      <img src="~/images/contact_sendmail.svg">
    </div>
  </div>
</div>

<script src="~/js/formValidation.js"></script>
