@model WebApp.Models.ContactViewModel

@using WebApp.Helper

<div class="transparent-header" id="transparent-header">
  @await Html.PartialAsync("_header", Model)
</div>

<div class="header">
  <div class="rotated-background contact">
    <div class="realign">
      <div class="wrapper">
        <div class="grid grid-1-1">
          <div>
            <img src="~/images/contact_project.svg">
          </div>
          <div class="flex flex-col">
            <div class="quote center">
              @Utils.GetUiString("contact.projectRequestDescription")
            </div>
            <div class="center">
              <button class="btn btn-light">@Utils.GetUiString("contact.projectRequest")</button>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>

<div class="wrapper offset-top-m">
  <h1>
    <span>@Utils.GetUiString("headline.contactMe")</span>
  </h1>

  <div class="grid grid-1-1 offset-top-m offset-bottom-l">
    <div>
      <form class="contact-form">
        <div class="grid grid-1-1">
          <div><input type="text" placeholder='@Utils.GetUiString("input.firstName")'></div>
          <div><input type="text" placeholder='@Utils.GetUiString("input.lastName")'></div>
        </div>
        <input type="email" placeholder='@Utils.GetUiString("input.email")'>
        <input type="text" placeholder='@Utils.GetUiString("input.subject")'>
        <textarea placeholder='@Utils.GetUiString("input.message")'></textarea>
        <div class="offset-bottom-s">
          <input type="checkbox" id="privacy">
          <label for="privacy">@Utils.GetUiString("input.confirmPrivacy")</label>
        </div>
        <button type="submit" class="btn btn-primary">
          @Utils.GetUiString("input.submit") 
        </button>
        <button class="btn" style="float: right">
          @Utils.GetUiString("input.reset")
        </button>
      </form>
    </div>
    <div class="sendmail-logo">
      <img src="~/images/contact_sendmail.svg">
    </div>
  </div>
</div>