@using WebApp.Helper

<div class="footer">
    <div class="rotated-background">
        <div class="wrapper">
            <div class="grid grid-2-1-1">
                <div class="grid-item">
                    <h1><span>@Utils.GetUiString("headline.impress")</span></h1>
                    <div class="grid grid-1-1">
                        <div>
                            <div class="two-rows bold">@Utils.GetUiString("impress.disclaimer")</div>

                            <span class="bold"><img src="~/images/heroicon-user.svg" alt ="User-Icon" class="footer-icon"> Matthias Seifert</span> <br>
                            <img src="~/images/heroicon-location.svg" alt ="Adress-Icon" class="footer-icon"> Reisewitzer Straße 5 <br>
                            <span class="no-icon"></span>01159 Dresden <br>
                            <img src="~/images/heroicon-call.svg" alt ="Phone-Icon" class="footer-icon"> 01525 5911161 <br>
                            <img src="~/images/heroicon-mail.svg" alt ="Mail-Icon" class="footer-icon"> matthe.seifert@gmail.com
                        </div>
                        <div>
                            <div class="bold v-padding-m">@Utils.GetUiString("impress.disclaimer.content")</div>
                            <span class="bold"><img src="~/images/heroicon-user.svg" alt ="User-Icon" class="footer-icon"> Matthias Seifert</span> <br>
                            <img src="~/images/heroicon-location.svg" alt ="Adress-Icon" class="footer-icon"> Reisewitzer Straße 5 <br>
                            <span class="no-icon"></span>01159 Dresden
                        </div>
                    </div>
                </div>
                <div class="grid-item disclaimer">
                    <h1><span>@Utils.GetUiString("headline.disclaimer")</span></h1>
                    <div class="v-padding-m lspacing-2">
                        <a href="#"><img src="~/images/heroicon-lock.svg" alt ="Lock-Icon" class="footer-icon"> @Utils.GetUiString("privcy")</a> <br>
                        <a href="#"><img src="~/images/heroicon-disclaimer.svg" alt ="File-Icon" class="footer-icon"> @Utils.GetUiString("disclaimer")</a> <br>
                        <a href="#"><img src="~/images/heroicon-image.svg" alt ="Image-Icon" class="footer-icon"> @Utils.GetUiString("pictureCredits")</a> <br>
                        <a href="#"><img src="~/images/heroicon-code.svg" alt ="Code-Icon" class="footer-icon"> @Utils.GetUiString("licenses")</a> <br>
                    </div>
                </div>
                <div class="grid-item socialmedia">
                    <h1><span>@Utils.GetUiString("headline.social")</span></h1>
                    <div class="v-padding-m social-links-footer lspacing-2">
                        <a href="https://twitter.com/einMATZEmalig" target="_blank"><img src="~/images/twitter.svg"> Twitter</a> <br>
                        <a href="https://www.xing.com/profile/Matthias_Seifert29/" target="_blank"><img src="~/images/xing.svg"> Xing</a> <br>
                        <a href="https://github.com/MatSeifert" target="_blank"><img src="~/images/github.svg"> GitHub</a> <br>
                        <a href="https://dribbble.com/thematze" target="_blank"><img src="~/images/dribbble.svg"> dribbble</a> <br>
                        <a href="https://stackoverflow.com/users/3775858/matthias-seifert" target="_blank"><img src="~/images/stackoverflow.svg"> StackOverflow</a> <br>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                @Utils.GetUiString("subfooter") &copy; 2018 - Matthias Seifert • 
                Made with <img src="~/images/like.svg" alt="love" style="width: 12px; opacity: 0.5; margin-top: -4px;"> in Dresden • 
                <a href="/Identity/Account/Login"><img src="~/images/icon_login.png" alt="Login Icon" style="width: 22px; margin-top: -3px"> Login</a>
            </div>
        </div>
    </div>
</div>