@if (ViewBag.UiStrings != null && ViewBag.CoreData != null)
{
    <div class="footer">
        <div class="rotated-background">
            <div class="wrapper">
                <div class="grid grid-2-1-1">
                    <div class="grid-item">
                        <h1><span>@ViewBag.UiStrings["headline.impress"]</span></h1>
                        <div class="grid grid-1-1">
                            <div>
                                <div class="two-rows bold">@ViewBag.UiStrings["impress.disclaimer"]</div>

                                <span class="bold">@ViewBag.CoreData.FirstName @ViewBag.CoreData.LastName</span> <br>
                                @ViewBag.CoreData.StreetName @ViewBag.CoreData.StreetNumber <br>
                                @ViewBag.CoreData.ZipCode @ViewBag.CoreData.City <br>
                                @ViewBag.CoreData.Mobile <br>
                                @ViewBag.CoreData.Email
                            </div>
                            <div>
                                <div class="bold v-padding-m">@ViewBag.UiStrings["impress.disclaimer.content"]</div>
                                <span class="bold">@ViewBag.CoreData.FirstName @ViewBag.CoreData.LastName</span> <br>
                                @ViewBag.CoreData.StreetName @ViewBag.CoreData.StreetNumber <br>
                                @ViewBag.CoreData.ZipCode @ViewBag.CoreData.City
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <h1><span>@ViewBag.UiStrings["headline.disclaimer"]</span></h1>
                        <div class="v-padding-m lspacing-2">
                            <a href="#">@ViewBag.UiStrings["privcy"]</a> <br>
                            <a href="#">@ViewBag.UiStrings["disclaimer"]</a> <br>
                            <a href="#">@ViewBag.UiStrings["pictureCredits"]</a> <br>
                        </div>
                    </div>
                    <div class="grid-item">
                        <h1><span>@ViewBag.UiStrings["headline.social"]</span></h1>
                        <div class="v-padding-m social-links-footer lspacing-2">
                            <a href="@ViewBag.CoreData.Twitter" target="_blank"><img src="~/images/twitter.svg"> Twitter</a> <br>
                            <a href="@ViewBag.CoreData.Xing" target="_blank"><img src="~/images/xing.svg"> Xing</a> <br>
                            <a href="@ViewBag.CoreData.Github" target="_blank"><img src="~/images/github.svg"> GitHub</a> <br>
                            <a href="@ViewBag.CoreData.Dribbble" target="_blank"><img src="~/images/dribbble.svg"> dribbble</a> <br>
                            <a href="@ViewBag.CoreData.Stackoverflow" target="_blank"><img src="~/images/stackoverflow.svg"> StackOverflow</a> <br>
                        </div>
                    </div>
                </div>
                <div class="subfooter">
                    @ViewBag.UiStrings["subfooter"] &copy; 2018 - Matthias Seifert • 
                    Made with <img src="~/images/like.svg" alt="love" style="width: 12px; opacity: 0.5; margin-top: -4px;"> in Dresden • 
                    <a href="/Identity/Account/Login"><img src="~/images/icon_login.png" alt="Login Icon" style="width: 22px; margin-top: -3px"> Login</a>
                </div>
            </div>
        </div>
    </div>
}