@model WebApp.Models.HomeViewModel

<div class="header">
  <div class="rotated-background">
    <div class="background-img">
      <div class="realign">
        <div class="wrapper">
          <div class="header-nav grid grid-1-1-1-1-1">
            <a href="#" class="menu-link">@ViewBag.UiStrings["menu.aboutMe"]</a>
            <a href="#" class="menu-link">@ViewBag.UiStrings["menu.blog"]</a>
            <div class="logo-background">
              <div>
                <a href="#"><img src="../images/logo.svg" alt="Logo" class="logo"></a>
              </div>
            </div>
            <a href="#" class="menu-link">@ViewBag.UiStrings["menu.portfolio"]</a>
            <a href="#" class="menu-link">@ViewBag.UiStrings["menu.contact"]</a>
          </div>

          <div class="introduction">
            <div class="intro-s">@ViewBag.UiStrings["header.greeting"]</div>
            <div class="intro-l">@Model.CoreData.FirstName @Model.CoreData.LastName</div>
            <div class="intro-sub">@ViewBag.UiStrings["header.skills"]</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>