@if (ViewBag.UiStrings != null) 
{
    <div class="header header-default">
        <div class="rotated-background">
            <div class="realign">
                <div class="wrapper">
                    <div class="header-nav grid grid-1-1-1-1-1">
                        <a href='@Url.Action("index", "aboutme")' class='menu-link @(ViewBag.ActiveLink == 0 ? "active" : "")'>@ViewBag.UiStrings["menu.aboutMe"]</a>
                        <a href='@Url.Action("index", "blog")' class='menu-link @(ViewBag.ActiveLink == 1 ? "active" : "")'>@ViewBag.UiStrings["menu.blog"]</a>
                        <div class="logo-background">
                        <div>
                            <a href='@Url.Action("index", "home")'><img src="~/images/logo.svg" alt="Logo" class="logo"></a>
                        </div>
                        </div>
                        <a href='@Url.Action("index", "portfolio")' class='menu-link @(ViewBag.ActiveLink == 2 ? "active" : "")'>@ViewBag.UiStrings["menu.portfolio"]</a>
                        <a href='@Url.Action("index", "contact")' class='menu-link @(ViewBag.ActiveLink == 3 ? "active" : "")'>@ViewBag.UiStrings["menu.contact"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}