<div class="mobile bottom-menu">
  <div class="realign">
    <div class="grid grid-mobile grid-1-1-2-1-1">
      <div class="bottom-menu--item">
        <a href='@Url.Action("index", "aboutme")'>
          <img src="~/images/heroicon-user.svg" alt="Über mich">
          @ViewBag.UiStrings["menu.aboutMe"]
        </a>
      </div>
      <div class="bottom-menu--item">
        <a href='@Url.Action("index", "blog")'>
          <img src="~/images/heroicon-edit.svg" alt="Über mich">
          @ViewBag.UiStrings["menu.blog"]
        </a>
      </div>
      <div class="bottom-menu--item logo">
        <div class="logo-background">
          <div>
            <a href='@Url.Action("index", "home")'><img src="~/images/logo.svg" alt="Logo" class="logo"></a>
          </div>
        </div>
      </div>
      <div class="bottom-menu--item">
        <a href='@Url.Action("index", "portfolio")'>
          <img src="~/images/heroicon-desktop.svg" alt="Über mich">
          @ViewBag.UiStrings["menu.portfolio"]
        </a>
      </div>
      <div class="bottom-menu--item">
        <a href='@Url.Action("index", "contact")'>
          <img src="~/images/heroicon-at-symbol.svg" alt="Über mich">
          @ViewBag.UiStrings["menu.contact"]
        </a>
      </div>
    </div>
  </div>
</div>