@model WebApp.Models.HomeViewModel

<div class="section">
    <h1><span>@ViewBag.UiStrings["headline.latestPosts"]</span></h1>
    <div class="grid grid-1-1-1 blog offset-top-m">

        @foreach(var p in Model.LatestPosts) {
            <div class="blog-post">
                <div class="blog-post-wrapper">
                    <a href='@Url.Action("post", "blog", new { id = p.Post.Id })'>
                        <div class="blog-post-overlay">
                            <div>
                                @p.Post.Date.ToString("dd. MMM")
                            </div>
                        </div>
                        <img src="~/images/blog/thumbnail-@p.TitleImage.Url" alt="Blogcover">
                    </a>
                </div>
                <a href='@Url.Action("post", "blog", new { id = p.Post.Id })'>
                    <div>
                        <span class="post-date mobile">@ViewBag.UiStrings["blog.postedAt"] @p.Post.Date.ToString("dd. MMMM")</span>
                        <h2>@p.Post.Title</h2>
                    </div>
                </a>
                <p>@p.Post.Snippet</p>
            </div>
        }
    </div>

    <div class="center">
        <a href='@Url.Action("index", "blog")' title='@ViewBag.UiStrings["allPosts"]'>
            <button class="btn offset-top-m offset-mobile-none">@ViewBag.UiStrings["allPosts"]</button>
        </a>
    </div>
</div>