@model WebApp.Models.HomeViewModel

@using WebApp.Helper

<div class="section skill-section">
    <h1><span>@Utils.GetUiString("headline.whatIDo")</span></h1>
    <div class="grid grid-1-1-1">
        <div class="skill-item">
            <img src="images/design.svg" alt="UI Design">
            <h2>@Utils.GetUiString("headline.UiDesign")</h2>
            <p>@Utils.GetUiString("content.UiDesign")</p>
        </div>
        <div class="skill-item">
            <img src="images/frontend.svg" alt="Frontend Entwicklung">
            <h2>@Utils.GetUiString("headline.FrontendDevelopment")</h2>
            <p>@Utils.GetUiString("content.FrontendDevelopment")</p>
        </div>
        <div class="skill-item">
            <img src="images/backend.svg" alt="Backend Entwicklung">
            <h2>@Utils.GetUiString("headline.BackendDevelopment")</h2>
            <p>@Utils.GetUiString("content.BackendDevelopment")</p>
        </div>
    </div>
</div>