@model WebApp.Models.HomeViewModel

<div class="section">
    <h1>@Model.UiStrings["headline.whatIDo"]</h1>
    <div class="grid grid-1-1-1">
        <div class="skill-item">
            <img src="images/design.svg" alt="UI Design">
            <h2>@Model.UiStrings["headline.UiDesign"]</h2>
            <p>@Model.UiStrings["content.UiDesign"]</p>
        </div>
        <div class="skill-item">
            <img src="images/frontend.svg" alt="Frontend Entwicklung">
            <h2>@Model.UiStrings["headline.FrontendDevelopment"]</h2>
            <p>@Model.UiStrings["content.FrontendDevelopment"]</p>
        </div>
        <div class="skill-item">
            <img src="images/backend.svg" alt="Backend Entwicklung">
            <h2>@Model.UiStrings["headline.BackendDevelopment"]</h2>
            <p>@Model.UiStrings["content.BackendDevelopment"]</p>
        </div>
    </div>
</div>