@model WebApp.Models.HomeViewModel

@await Html.PartialAsync("_header-main", Model)

<div class="wrapper main-content grid grid-1-2">
    <div class="profile-image">
        <img src="images/profile.jpg" alt="Profile Image">
    </div>
    <div class="description-wrapper">
        <div class="description">
            Hi, ich bin @Model.CoreData.FirstName, freiberuflicher Designer und Softwareentwickler aus Dresden. Neben ansprechenden und 
            modernen Designarbeiten entwickle ich auch Software im Bereich Web und Mobile, sowohl Frontend als auch Backend.
        
            <h2 class="offset-top-m">
                @ViewBag.UiStrings["hireMe"]
            </h2>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class=" grid grid-1-2 offset-top-m social-links">
      <div class="flex">
        <div>
            <a href="@Model.CoreData.Twitter" target="_blank" alt="Twitter Profil">
                <img src="images/twitter_colored.svg" alt="Logo of Twitter">
            </a>
        </div>
        <div>
            <a href="@Model.CoreData.Xing" target="_blank" alt="Xing Profil">
                <img src="images/xing_colored.svg" alt="Logo of Xing">
            </a>
        </div>
        <div>
            <a href="@Model.CoreData.Github" target="_blank" alt="GitHub Profil">
                <img src="images/github_colored.svg" alt="Logo of GitHub">
            </a>
        </div>
        <div>
            <a href="@Model.CoreData.Dribbble" target="_blank" alt="Dribbble Profil">
                <img src="images/dribbble_colored.svg" alt="Logo of Dribbble">
            </a>
        </div>
        <div>
            <a href="@Model.CoreData.Stackoverflow" target="_blank" alt="StackOverflow Profil">
                <img src="images/stackoverflow_colored.svg" alt="Logo of Stackoverflow">
            </a>
        </div>
      </div>
      <div class="offset-left-xl">
          <button class="btn btn-primary offset-right-m">
            <span>@ViewBag.UiStrings["contactMe"]</span>
          </button>
          <button class="btn">
            <span>@ViewBag.UiStrings["download.cv"]</span>
          </button>
      </div>
    </div>

    @await Html.PartialAsync("_whatido", Model)
</div>

@await Html.PartialAsync("_projects", Model)

<div class="wrapper">
    @await Html.PartialAsync("_blog", Model)
</div>
