@model WebApp.Models.BlogAllViewModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="additional-fab" title="Neuen Blogeintrag verfassen">
        <div>
            <img src="~/images/icon_edit.png" alt="Neuen Beitrag schreiben">
        </div>
    </div>
}

@await Html.PartialAsync("_header", Model)

<div class="blogpost-featured">
    <div class="blogpost-featured-rotated">
        <img src="~/images/blog/@Model.FeaturedPost.TitleImage.Url" alt="test" class="hero-shot">
        <div class="blogpost-featured-gradient">
            <div class="wrapper">
                <div class="blogpost-featured-content">
                    <h1>@Model.FeaturedPost.Post.Title</h1>
                    <div class="blogpost-featured-date">
                        <img src="~/images/icon_posted.svg" alt="alter"> gepostet am @Model.FeaturedPost.Post.Date.ToString("dd. MMMM yyyy")
                    </div>
                    <div class="blogpost-featured-snippet">
                        @Model.FeaturedPost.Post.Snippet
                    </div>
                    <a href='@Url.Action("post", "blog", new { id = Model.FeaturedPost.Post.Id })'>
                        <button class="btn btn-light">Weiterlesen</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" style="margin-top: 500px;">
    <div class="grid grid-3-1">
        <div>
            <h1>Ältere Beiträge</h1>

            @{
                var i = 1;

                foreach(var p in Model.BlogItems) 
                {
                    if (i != 0 && i % 2 != 0) {
                        <div class="grid grid-1-1point5 offset-top-m offset-bottom-s">
                            <div class="blogpost-thumbnail">
                                <img src="~/images/blog/thumbnail-@p.TitleImage.Url" alt="test">
                            </div>
                            <div class="blogpost-content">
                                <h2>@p.Post.Title</h2>
                                <div class="blogpost-content-date">
                                    <img src="~/images/icon_posted-black.png" alt="alter"> gepostet am @p.Post.Date.ToString("dd. MMMM yyyy")
                                </div>
                                <div class="blogpost-content-snippet">
                                    @p.Post.Snippet
                                </div>
                            </div>
                        </div>
                    } else if (i != 0) {
                        <div class="grid grid-1point5-1 offset-top-m offset-bottom-s">
                            <div class="blogpost-content">
                                <h2>@p.Post.Title</h2>
                                <div class="blogpost-content-date">
                                    <img src="~/images/icon_posted-black.png" alt="alter"> gepostet am @p.Post.Date.ToString("dd. MMMM yyyy")
                                </div>
                                <div class="blogpost-content-snippet">
                                    @p.Post.Snippet
                                </div>
                            </div>
                            <div class="blogpost-thumbnail">
                                <img src="~/images/blog/thumbnail-@p.TitleImage.Url" alt="test">
                            </div>
                        </div>
                    }

                    i++;
                }
            }
        </div>
        <div>
            <h1>Archiv</h1>
        </div>
    </div>
</div>