@model WebApp.Models.BlogAllViewModel

@using WebApp.Helper

@await Html.PartialAsync("_adminTools")
@await Html.PartialAsync("_header", Model)

<div class="blogpost-featured blog-main-page">
    <div class="blogpost-featured-rotated">
        <img src="~/images/blog/@Model.FeaturedPost.TitleImage.Url" alt="@Model.FeaturedPost.TitleImage.Label" class="hero-shot blur">
        <div class="blogpost-featured-gradient">
            <div class="wrapper">
                <div class="blogpost-featured-content">
                    <h1><span>@Model.FeaturedPost.Post.Title</span></h1>
                    <div class="blogpost-featured-date">
                        <img src="~/images/icon_posted.svg" alt="Post Icon"> @Utils.GetUiString("blog.postedAt") @Model.FeaturedPost.Post.Date.ToString("dd. MMMM yyyy")
                    </div>
                    <div class="blogpost-featured-snippet">
                        @Model.FeaturedPost.Post.Snippet
                    </div>
                    <a href='@Url.Action("post", "blog", new { id = Model.FeaturedPost.Post.Id })'>
                        <button class="btn btn-light">@Utils.GetUiString("readmore")</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper blog-page blog-main-page">
    <div class="grid grid-3-1 block-m">
        <div>
            <h1><span>@Utils.GetUiString("blog.headline.olderPosts")</span></h1>

            @{
                var i = 0;

                foreach(var p in Model.BlogItems) 
                {
                    if (i != 0 && i % 2 != 0) {
                        <div class='grid grid-1-2 offset-top-m offset-bottom-s @(i != 1 ? "seperator" : "")'>
                            <div class="blogpost-thumbnail">
                                <a href='@Url.Action("post", "blog", new { id = p.Post.Id })'>
                                    <img src="~/images/blog/thumbnail-@p.TitleImage.Url" alt="@p.TitleImage.Label">
                                </a>
                            </div>
                            <div class="blogpost-content offset-left-m offset-right-m">
                                <a href='@Url.Action("post", "blog", new { id = p.Post.Id })'>
                                    <h2>@p.Post.Title</h2>
                                </a>
                                <div class="blogpost-content-date">
                                    <img src="~/images/icon_posted-black.png" alt="Post Icon"> @Utils.GetUiString("blog.postedAt") @p.Post.Date.ToString("dd. MMMM yyyy")
                                </div>
                                <div class="blogpost-content-snippet">
                                    <p>@p.Post.Snippet</p>
                                </div>
                            </div>
                        </div>
                    } else if (i != 0) {
                        <div class="grid grid-2-1 offset-top-m offset-bottom-s offset-right-m seperator">
                            <div class="blogpost-content offset-right-m">
                                <a href='@Url.Action("post", "blog", new { id = p.Post.Id })'>
                                    <h2>@p.Post.Title</h2>
                                </a>
                                <div class="blogpost-content-date">
                                    <img src="~/images/icon_posted-black.png" alt="Post Icon"> @Utils.GetUiString("blog.postedAt") @p.Post.Date.ToString("dd. MMMM yyyy")
                                </div>
                                <div class="blogpost-content-snippet">
                                    @p.Post.Snippet
                                </div>
                            </div>
                            <div class="blogpost-thumbnail">
                                <a href='@Url.Action("post", "blog", new { id = p.Post.Id })'>
                                    <img src="~/images/blog/thumbnail-@p.TitleImage.Url" alt="@p.TitleImage.Label">
                                </a>
                            </div>
                        </div>
                    }

                    i++;
                }
            }
        </div>
        <div class="hide-m">
            <h1><span>@Utils.GetUiString("blog.headline.popularPosts")</span></h1>
            <h1><span>@Utils.GetUiString("blog.headline.categories")</span></h1>
        </div>
    </div>
</div>