@model WebApp.Models.AboutMeViewModel

@using WebApp.Helper

<div class="wrapper offset-top-m">
  <h1><span>@Utils.GetUiString("headline.carreer")</span></h1>

  <div class="cv-wrapper">
    @foreach(var cv in Model.CvEntries)
    {
      <div class="cv-item">
        <div class="timeline-dot">
          @{
            switch(cv.Entry.Type) 
            {
              case "job": 
                <img src="~/images/heroicon-briefcase_g.svg">
                break;
              case "training": 
                <img src="~/images/heroicon-certificate_g.svg">
                break;
              case "education": 
                <img src="~/images/heroicon-education_g.svg">
                break;
              default: 
                <img src="~/images/heroicon-briefcase_g.svg">
                break;
            }
          }
        </div>
        <div class="flex">
          @if (cv.Thumbnail != null) 
          {
            <div class="cv-item-thumbnail">
              <img src="~/images/@cv.Thumbnail.Url" class="cv-item-img" alt="@cv.Thumbnail.Label" title="@cv.Thumbnail.Label">
            </div>
          }
          <div class="cv-item-header">
            <h2>@cv.Entry.Label</h2>
            <div class="cv-employer">
              <a href="@cv.Entry.EmployerUrl" target="_blank">@cv.Entry.EmployerLabel</a></div>
            <div class="cv-date">
              @{
                if (cv.Entry.EndDate == null) 
                {
                  <span>seit @cv.Entry.StartDate.ToString("MMMM yyyy")</span>
                }
                else if (cv.Entry.EndDate?.Month == cv.Entry.StartDate.Month)
                {
                  <span>@cv.Entry.StartDate.ToString("MMMM yyyy")</span>
                }
                else {
                  <span>@cv.Entry.StartDate.ToString("MMMM yyyy") bis @cv.Entry.EndDate?.ToString("MMMM yyyy")</span>
                }
              }
            </div>
          </div>
        </div>
        <p>
          @cv.Entry.Description
        </p>
        @if(cv.Attachment != null)
        {
          <div class="center offset-top-s">
            <a href="~/files/@cv.Attachment.Url" alt="@cv.Attachment.Label" target="_blank">
              <button class="btn">
                @Utils.GetUiString("download.certificate")
              </button>
            </a>
          </div>
        }
      </div>
    }
  </div>
</div>