@using WebApp.Helper    

<div class="section-rotated-background rotated-gradient offset-top-l">
  <div class="wrapper wrapper-dark offset-top-m">
    <h1>
      <span>@Utils.GetUiString("headline.techstack")</span></h1>
      <div class="grid grid-1-1-1-1 overwidth">
        <div class="tech-stack">
          <img src="~/images/skill_csharp.svg" alt="C#">
          <h2>C#, .NET, .NET Core</h2>
          <p>
            @Utils.GetUiString("techstack.csharp")
          </p>
        </div>
        <div class="tech-stack">
          <img src="~/images/skill_javascript.svg" alt="JavaScript">
          <h2>JavaScript, TypeScript</h2>
          <p>
            @Utils.GetUiString("techstack.javascript")
          </p>
        </div>
        <div class="tech-stack">
          <img src="~/images/skill_html.svg" alt="HTML">
          <h2>HTML 5</h2>
          <p>
            @Utils.GetUiString("techstack.html")
          </p>
        </div>
        <div class="tech-stack">
          <img src="~/images/skill_css.svg" alt="CSS">
          <h2>CSS, Less, SASS, Stylus</h2>
          <p>
            @Utils.GetUiString("techstack.css")
          </p>
        </div>
      </div>
  </div>
</div>