@model WebApp.Models.AboutMeViewModel

@using WebApp.Helper

@await Html.PartialAsync("_header", Model)

<div class="wrapper about-me">
  <div class="grid grid-1-2">
    <div class="colored-img-wrapper">
      <img src="~/images/profile_colored.png" alt="Profilbild">
    </div>
    <div class="quote">
      @Utils.GetUiString("aboutMe.quote")
    </div>
  </div>
</div>

<div class="section-rotated-background about-me">
  <div class="wrapper offset-top-s">
    <h1><span>@Utils.GetUiString("headline.aboutMe")</span></h1>
    <div class="grid grid-2-1">
      <div class="offset-right-m justify">
        <h2>Der Entwickler in mir</h2>
        @Utils.GetUiString("aboutMe.description.development")

        <h2>Der Designer in mir</h2>
        @Utils.GetUiString("aboutMe.description.design")
      </div>
      <div class="offset-left-m direct-contact">
        <button class="btn btn-primary">@Utils.GetUiString("projectrequest")</button>
        <button class="btn">@Utils.GetUiString("projects.recent")</button>
        <div class="headline-sidelined">@Utils.GetUiString("directContact")</div>
        <div><img src="~/images/heroicon-call_b.svg" alt="Call Icon"> 01525 5911161</div>
        <div><img src="~/images/heroicon-at-symbol_b.svg" alt="Mail Icon"> matthe.seifert@gmail.com</div>
      </div>
    </div>
  </div>
</div>

@await Html.PartialAsync("_cv", Model)

@await Html.PartialAsync("_techstack")

@await Html.PartialAsync("_testimonials", Model)