@model WebApp.Models.AboutMeViewModel

@await Html.PartialAsync("_header", Model)

<div class="wrapper about-me">
  <div class="grid grid-1-2">
    <div>
      <img src="~/images/profile_colored.png" alt="Profilbild">
    </div>
    <div class="quote">
      @ViewBag.UiStrings["aboutMe.quote"]
    </div>
  </div>
</div>

<div class="section-rotated-background about-me">
  <div class="wrapper">
    <h1><span>@ViewBag.UiStrings["headline.aboutMe"]</span></h1>
    <div class="grid grid-2-1">
      <div class="offset-right-m">
        @ViewBag.UiStrings["aboutMe.description"]
      </div>
      <div class="offset-left-m direct-contact">
        <button class="btn btn-primary">@ViewBag.UiStrings["projectrequest"]</button>
        <div class="headline-sidelined">@ViewBag.UiStrings["directContact"]</div>
        <div><img src="~/images/heroicon-call_b.svg" alt="Call Icon"> 01525 5911161</div>
        <div><img src="~/images/heroicon-at-symbol_b.svg" alt="Mail Icon"> matthe.seifert@gmail.com</div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper offset-top-m">
  <h1><span>@ViewBag.UiStrings["headline.carreer"]</span></h1>

  <div class="cv-wrapper">
    @foreach(var cv in Model.CvEntries)
    {
      <div class="cv-item">
        <div class="timeline-dot">
          @{
            switch(cv.Entry.Type) 
            {
              case "job": 
                <img src="~/images/heroicon-briefcase_g.svg">
                break;
              case "training": 
                <img src="~/images/heroicon-certificate_g.svg">
                break;
              case "education": 
                <img src="~/images/heroicon-education_g.svg">
                break;
              default: 
                <img src="~/images/heroicon-briefcase_g.svg">
                break;
            }
          }
        </div>
        <div class="flex">
          @if (cv.Thumbnail != null) 
          {
            <div class="cv-item-thumbnail">
              <img src="~/images/@cv.Thumbnail.Url" class="cv-item-img" alt="@cv.Thumbnail.Label" title="@cv.Thumbnail.Label">
            </div>
          }
          <div class="cv-item-header">
            <h2>@cv.Entry.Label</h2>
            <div class="cv-employer">
              <a href="@cv.Entry.EmployerUrl" target="_blank">@cv.Entry.EmployerLabel</a></div>
            <div class="cv-date">
              @{
                if (cv.Entry.EndDate == null) 
                {
                  <span>seit @cv.Entry.StartDate.ToString("MMMM yyyy")</span>
                }
                else if (cv.Entry.EndDate?.Month == cv.Entry.StartDate.Month)
                {
                  <span>@cv.Entry.StartDate.ToString("MMMM yyyy")</span>
                }
                else {
                  <span>@cv.Entry.StartDate.ToString("MMMM yyyy") bis @cv.Entry.EndDate?.ToString("MMMM yyyy")</span>
                }
              }
            </div>
          </div>
        </div>
        <p>
          @cv.Entry.Description
        </p>
        @if(cv.Attachment != null)
        {
          <div class="center offset-top-s">
            <a href="~/files/@cv.Attachment.Url" alt="@cv.Attachment.Label" target="_blank">
              <button class="btn">
                @ViewBag.UiStrings["download.certificate"]
              </button>
            </a>
          </div>
        }
      </div>
    }
  </div>
</div>

<div class="section-rotated-background rotated-gradient offset-top-l">
  <div class="wrapper wrapper-dark offset-top-m">
    <h1>
      <span>@ViewBag.UiStrings["headline.techstack"]</span></h1>
      <div class="grid grid-1-1-1-1 overwidth">
        <div class="tech-stack">
          <img src="~/images/skill_csharp.svg" alt="C#">
          <h2>C#, .NET, .NET Core</h2>
          <p>
            @ViewBag.UiStrings["techstack.csharp"]
          </p>
        </div>
        <div class="tech-stack">
          <img src="~/images/skill_javascript.svg" alt="JavaScript">
          <h2>JavaScript, TypeScript</h2>
          <p>
            @ViewBag.UiStrings["techstack.javascript"]
          </p>
        </div>
        <div class="tech-stack">
          <img src="~/images/skill_html.svg" alt="HTML">
          <h2>HTML 5</h2>
          <p>
            @ViewBag.UiStrings["techstack.html"]
          </p>
        </div>
        <div class="tech-stack">
          <img src="~/images/skill_css.svg" alt="CSS">
          <h2>CSS, Less, SASS, Stylus</h2>
          <p>
            @ViewBag.UiStrings["techstack.css"]
          </p>
        </div>
      </div>
  </div>
</div>

<div class="wrapper">
  <h1>
    <span>Letzte Sektion</span>
  </h1>
</div>